* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(30, 29, 37);
}

.cards {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 15px;
}

.card {
  height: 510px;
  width: 20%;
  background-color: hsl(236deg 82% 87% / 90%);
  border-radius: 10px;
  transition: 0.7s;
}

.card:hover {
  height: 520px;
  width: 20.4%;
  transition: 0.7s;
}

.card .img-container {
  border-radius: 10px 10px 0 0;
  width: 90%;
  height: 45%;
  margin: 5% 5%;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.card .para {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.card p {
  width: 83%;
  font-size: 18px;
}

.card h2 {
  text-align: center;
  color: #333;
  /* text-shadow: 2px 2px 2px whitesmoke; */
  margin: 2% 8%;
}

.card .btn {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.card button {
  font-weight: 500;
  width: 35%;
  padding: 0.8em;
  border-radius: 8px;
  margin: 2% auto;
  text-align: center;
}

.card button:hover {
  cursor: pointer;
}

.main-btn {
  border: 1px solid black;
  color: white;
  font-weight: 500px;
  font-size: 17px;
  background-color: rgb(30, 29, 37);
}
