* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 10px;
}

h1 {
  text-align: center;
  width: 100%;
  height: 40px;
  color: white;
}

table {
  background-color: rgb(11, 11, 11);
  box-sizing: border-box;
  vertical-align: middle;
  border-collapse: collapse;
}

tbody tr {
  background-color: rgb(6, 42, 42);
  border: 1.5px solid rgb(11, 64, 64);
}

th, td {
  width: 100%;
  color: white;
  padding: 13px;
}

th {
  padding: 20px;
  font-style: italic;
}

tr {
  unicode-bidi: isolate;
}
