* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 8px;
}

.flags-container {
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.flag-container {
  display: inline-block;
  margin: auto;
  margin-top: 8px;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 2px;
}

.flag-container p {
  text-align: center;
  font-weight: 600;
}

.img-container {
  width: 150px;
  height: 100px;
  border: 1px solid black;
  object-fit: cover;
}
