* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}



.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: bisque;
  padding: 10px 20px;
}

.sub-navbar {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.sub-navbar li a {
  font-weight: 500;
  text-decoration: none;
}

.flags-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px auto;
}

.flag-container {
  height: 160px;
  width: 200px;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 2px;
}

.flag-container p {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
}

.img-container {
  display: block;
  width: 150px;
  height: 100px;
  border: 1px solid black;
  margin: 10px auto;
}
