* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(28, 23, 23);
}

.foods {
  width: 95%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  margin: 20px;
}

.food-container {
  height: 510px;
  width: 22%;
  background-color: rgb(208, 187, 187);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-container img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.food-container > p {
  width: 90%;
  margin: 0 auto;
}

.food-container > h2 {
  text-align: center;
  margin-top: 15px;
}

#rating {
  background-color: rgb(41, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-footer {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0;
  align-self: flex-end;
}

#price {
  background-color: gold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#price p {
  font-size: 16px;
  font-weight: 900px;
  text-align: center;
}

#buy-btn {
  background-color: red;
  font-weight: 500px;
  font-size: 16px;
  border: none;
}
